<!DOCTYPE html>
<html>

  <head>
    <title>Remind.Me</title>
    
    <link rel="icon" type="img/png" href="favicon.png">
    <script src="lib/json2.js"></script>
    <script src="lib/jquery-1.7.1.js"></script>
    <script src="lib/underscore-1.3.1.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places" type="text/javascript"></script>
    <script src="lib/backbone.js"></script>
    <script src="lib/backbone-localstorage.js"></script>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.min.responsive" />
	<link rel="script" type="text/javascript" href="lib/bootstrap/js/bootstrap.min.js" />
	<link rel="stylesheet" type="text/css" href="style.css" />
	<link href='http://fonts.googleapis.com/css?family=Leckerli+One|Fugaz+One|Loved+by+the+King|Anton|Yanone+Kaffeesatz:400,700|Nunito|Bitter' rel='stylesheet' type='text/css'>
	<link href="todos.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="todos.js"></script>
	<!--script src="lib/jquery-ui-1.8.18.custom.min.js"></script>
    <script src="js/jquery-ui-timepicker-addon.js" type="text/javascript"></script-->
    
    
  </head>

  <body>

	<div class="navbar nav-bar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand" href="#">Remind.Me</a>
				<div class="nav-collapse">
					<ul class="nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
					<p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>
				</div><!--/.nav-collapse -->
			</div>
		</div>
	</div>
  
    <!-- Todo App Interface -->

    <div id="todoapp">

      <div class="title">
        <h1 class="brand">Remind.Me</h1>
      </div>

      <div class="content">

        <div id="create-todo">
          <input id="new-todo" placeholder="Add a Reminder" type="text" />
          <span class="ui-tooltip-top" style="display:none;">Press Enter to save this task</span>
        </div>

        <div id="todos">
          <ul id="todo-list"></ul>
        </div>

        <div id="todo-stats"></div>

      </div>

    </div>

    <ul id="instructions">
      <li>Double-click to edit a todo.</li>
      <li><a href="http://documentcloud.github.com/backbone/examples/todos/index.html">View the original Todo App.</a></li>
    </ul>

    <div id="credits">
      An Open Source Project by
      <br />
      PJ Loury, Jackson Callaway, Aiyman Hadi
      <br /> <br />
      Based on the Work of
      <br />
      J&eacute;r&ocirc;me Gravel-Niquet</a>
    </div>

    <!-- Templates -->

    <script type="text/template" id="item-template">
      <div class="todo <%= done ? 'done' : '' %>">  
          <div class="display">
          <input class="check" type="checkbox" <%= done ? 'checked="checked"' : '' %> />
          <div class="todo-text"></div>
		  <span class="todo-sms"></span>
		  <span class="todo-time"></span>
		  <span class="todo-location"></span>
          <span class="todo-destroy"></span>
        </div>
        
        <div class="edit">
          <input class="todo-input" type="text" value="" />
        </div>
        <div class="timeBlock">
        </div>
		<div class="location">
		</div>
      </div>
    </script>

    <script type="text/template" id="stats-template">
      <% if (total) { %>
        <span class="todo-count">
          <span class="number"><%= remaining %></span>
          <span class="word"><%= remaining == 1 ? 'item' : 'items' %></span> left.
        </span>
      <% } %>
      <% if (done) { %>
        <span class="todo-clear">
          <a href="#">
            Clear <span class="number-done"><%= done %></span>
            completed <span class="word-done"><%= done == 1 ? 'item' : 'items' %></span>
          </a>
        </span>
      <% } %>
    </script>

  </body>

</html>
